:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Monaco, monospace;
  --font-title: Helvetica, sans-serif;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 253, 246, 249, 1;
  --background-end-rgb: 255, 255, 255;

  --padding-horizontal: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (min-width: 70em) {
  :root {
    --padding-horizontal: 20%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 0.5em;
  font-family: var(--font-title);
}

h2 {
  margin-bottom: 1em;
  margin-top: 1.7em;
  font-family: var(--font-title);
}

p {
  margin: 0;
  font-family: var(--font-mono);
}

label {
  font-family: var(--font-mono);
}

input {
  font-family: var(--font-mono);
}

img {
  width: 70%;
}
