.main {
  align-items: center;
  padding: 2%;
}

.description {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.checkboxList {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.checkboxItem {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  margin-top: 0.7em;
}

.informativeLabel {
  margin-bottom: 0.7em;
}

.infoInput {
  margin-bottom: 1.7em;
}

.infoLink {
  margin-left: 0.1em;
}

.infoButton {
  background-color: transparent;
  border-color: transparent;
  font-size: 1em;
}

.inputCheckbox {
  margin-right: 0.3em;
}

.gameName {
  font-size: small;
}

.sendButton {
  font-family: var(--font-title);
  font-size: medium;
  background-color: 243, 182, 219, 1;
  padding: 0.5em;
}
