.main {
  align-items: center;
  padding: 2%;
}

.description {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.checkboxList {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.checkboxItem {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  margin-top: 0.7em;
}

.informativeLabel {
  margin-bottom: 0.7em;
}

.infoInput {
  margin-bottom: 1.7em;
}

.infoLink {
  margin-left: 0.1em;
}

.infoButton {
  background-color: transparent;
  border-color: transparent;
  font-size: 1em;
}

@media (prefers-color-scheme: dark) {
  .infoButton {
    background-color: transparent;
    border-color: transparent;
    font-size: 1em;
    color: white;
  }
}

.inputCheckbox {
  margin-right: 0.3em;
}

.gameName {
  font-size: small;
}

.sendButton {
  font-family: var(--font-title);
  font-size: medium;
  background-color: #ffffff;
  padding: 0.5em;
  border-radius: 4px;
  border: 2px solid #000000;
  width: 100%;
}
